### https://raw.github.com/github/gitignore/be3333655bffe9507d66cc864aee95ed6052b4ed/Elisp.gitignore

# Compiled
*.elc

# Packaging
.cask

# chache
/url/

### https://raw.github.com/github/gitignore/be3333655bffe9507d66cc864aee95ed6052b4ed/Global/Emacs.gitignore

# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
/.emacs-buffers
*.elc
auto-save-list
tramp
.\#*
/elpa/
recentf

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/

# elscreen
elscreen
/elisp-objects/
/desktops/

# AutoComplete
ac-comphist.dat

# SKK
/viper/

# npm
conf/npm-debug.log
/force/

/auto-save-list/

# company
company-statistics-cache.el

# projectile
projectile-bookmarks.eld

# ruby
rake.cache

# Gtags
GPATH
GRTAGS
GTAGS