### https://raw.github.com/github/gitignore/be3333655bffe9507d66cc864aee95ed6052b4ed/Elisp.gitignore

# Compiled
*.elc

# Packaging
.cask

# chache
/url/

### https://raw.github.com/github/gitignore/be3333655bffe9507d66cc864aee95ed6052b4ed/Global/Emacs.gitignore

# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
/elpa/

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/

# AutoComplete
ac-comphist.dat
/viper/
/eshell/
